# llm
.claude
.codex

.idea/
coverage/
.phpunit.result.cache
vendor
node_modules
*.hot-update.js
phpstan.neon
/var/
src/Resources/public/administration/
src/Resources/public/static/
composer.lock
php-cs-fixer.migration-magento.cache
