includes:
    - phpstan-baseline.neon
    - %ShopwareRoot%/src/Core/DevOps/StaticAnalyze/PHPStan/common.neon
    - %ShopwareRoot%/src/Core/DevOps/StaticAnalyze/PHPStan/core-rules.neon

parameters:
    tmpDir: var/cache/phpstan

    paths:
        - src
        - tests

    excludePaths:
        - src/Resources

    scanDirectories:
        - ../SwagMigrationAssistant/src
        - ../SwagMigrationAssistant/tests

    symfony:
        constantHassers: false
        # the placeholder "%ShopwareHashedCacheDir%" will be replaced on execution by bin/phpstan-config-generator.php script
        containerXmlPath: '../../..%ShopwareHashedCacheDir%/%ShopwareKernelClass%DevDebugContainer.xml'
        consoleApplicationLoader: %ShopwareRoot%/src/Core/DevOps/StaticAnalyze/console-application.php

    type_perfect:
        narrow_return: true
        narrow_param: true

    ignoreErrors:
        - message: '#^Namespace must start with Shopware#'
        - message: '#^Service ".*" is private.$#'

        # TODO: XML config format will be migrated step by step, so we ignore errors for now, see https://github.com/shopware/shopware/issues/13072
        - message: '#deprecated class Symfony\\Component\\DependencyInjection\\Loader\\XmlFileLoader#'

        # TODO: MagentoMappingServiceInterface extends MappingServiceInterface with additional methods, but parent Converter class types $mappingService as MappingServiceInterface
        - message: '#Call to an undefined method SwagMigrationAssistant\\Migration\\Mapping\\MappingServiceInterface::(createListItemMapping|getUuidList)\(\)#'

        # TODO remove this for 6.8 compatibility
        - message: '#Access to constant on deprecated class Shopware\\Core\\Checkout\\Payment\\Cart\\PaymentHandler\\DebitPayment#'
          paths:
              - tests/Profile/Magento/Premapping/PaymentMethodReaderTest.php
        - message: '#Call to deprecated method __construct\(\) of class Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityDefinition#'
        - message: '#deprecated interface Shopware\\Core\\System\\NumberRange\\ValueGenerator\\NumberRangeValueGeneratorInterface#'
        - message: '#Call to method getEntities\(\) of deprecated class Shopware\\Core\\Framework\\DataAbstractionLayer\\Search\\EntitySearchResult#'
        - message: '#Call to method __construct\(\) of deprecated class Shopware\\Core\\Framework\\DataAbstractionLayer\\Search\\EntitySearchResult#'
        - message: '#Instantiation of deprecated class Shopware\\Core\\Framework\\DataAbstractionLayer\\Search\\EntitySearchResult#'
        - message: '#has typehint with deprecated class Shopware\\Core\\Framework\\DataAbstractionLayer\\Search\\EntitySearchResult#'
