parameters:
    autoload_directories:
        - %currentWorkingDirectory%/../SwagMigrationAssistant
    level: 5
    reportUnmatchedIgnoredErrors: false
    excludes_analyse:
            - %currentWorkingDirectory%/tests/*
            - %currentWorkingDirectory%/vendor/*