includes:
	- phpstan-baseline.neon

parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    symfony:
        constant_hassers: false
        # the placeholder "%ShopwareHashedCacheDir%" will be replaced on execution by bin/phpstan-config-generator.php script
        container_xml_path: '../../..%ShopwareHashedCacheDir%/%ShopwareKernelClass%DevDebugContainer.xml'
    paths:
        -   src
        -   tests
    excludePaths:
        -   src/Resources
        - vendor
    bootstrapFiles:
        -   bin/static-analyze-autoloader.php
