<div class="swag-migration-wizard swag-migration-wizard-page-credentials"
     @keypress.enter="onKeyPressEnter">
    {% block swag_migration_magento_wizard_page_credentials_content %}
        <div class="swag-migration-wizard__content">
            {% block swag_migration_magento_wizard_page_credentials_information %}
                <div class="swag-migration-wizard__content-information">
                    {% block swag_migration_magento_wizard_page_credentials_local_hint %}
                        {{ $tc('swag-migration.wizard.pages.credentials.magento.local.contentInformation') }}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block swag_migration_magento_wizard_page_credentials_credentials %}
                <div class="swag-migration-wizard__form">
                    {% block swag_migration_magento_wizard_page_credentials_local_db_host_port_group %}
                        <sw-container columns="1fr 80px"
                                      gap="16px">
                            {% block swag_migration_magento_wizard_page_credentials_local_dbhost_field %}
                                <sw-text-field v-autofocus
                                          name="sw-field--dbHost"
                                          :label="$tc('swag-migration.wizard.pages.credentials.magento.local.dbHostLabel')"
                                          :placeholder="$tc('swag-migration.wizard.pages.credentials.magento.local.dbHostPlaceholder')"
                                          v-model="inputCredentials.dbHost">
                                </sw-text-field>
                            {% endblock %}

                            {% block swag_migration_magento_wizard_page_credentials_local_dbport_field %}
                                <sw-field name="sw-field--dbPort"
                                          :label="$tc('swag-migration.wizard.pages.credentials.magento.local.dbPortLabel')"
                                          v-model="inputCredentials.dbPort">
                                </sw-field>
                            {% endblock %}
                        </sw-container>
                    {% endblock %}

                    {% block swag_migration_magento_wizard_page_credentials_local_dbuser_field %}
                        <sw-field name="sw-field--dbUser"
                                  :label="$tc('swag-migration.wizard.pages.credentials.magento.local.dbUserLabel')"
                                  :placeholder="$tc('swag-migration.wizard.pages.credentials.magento.local.dbUserPlaceholder')"
                                  v-model="inputCredentials.dbUser">
                        </sw-field>
                    {% endblock %}

                    {% block swag_migration_magento_wizard_page_credentials_local_dbpassword_field %}
                        <sw-field name="sw-field--dbPassword"
                                  type="password"
                                  :label="$tc('swag-migration.wizard.pages.credentials.magento.local.dbPasswordLabel')"
                                  :placeholder="$tc('swag-migration.wizard.pages.credentials.magento.local.dbPasswordPlaceholder')"
                                  v-model="inputCredentials.dbPassword">
                        </sw-field>
                    {% endblock %}

                    {% block swag_migration_magento_wizard_page_credentials_local_dbname_field %}
                        <sw-field name="sw-field--dbName"
                                  :label="$tc('swag-migration.wizard.pages.credentials.magento.local.dbNameLabel')"
                                  :placeholder="$tc('swag-migration.wizard.pages.credentials.magento.local.dbNamePlaceholder')"
                                  v-model="inputCredentials.dbName">
                        </sw-field>
                    {% endblock %}

                    {% block swag_migration_magento_wizard_page_credentials_local_shopurlactive_field %}
                        <sw-switch-field name="sw-field--shopUrlActive"
                                :label="$tc('swag-migration.wizard.pages.credentials.magento.local.shopUrlActiveLabel')"
                                :helpText="$tc('swag-migration.wizard.pages.credentials.magento.local.shopUrlActiveHelp')"
                                v-model="shopUrlActive">
                        </sw-switch-field>
                    {% endblock %}

                    {% block swag_migration_magento_wizard_page_credentials_local_installationroot_field %}
                        <sw-field v-if="shopUrlActive === false"
                                  name="sw-field--installationRoot"
                                  :label="$tc('swag-migration.wizard.pages.credentials.magento.local.installationRoot')"
                                  :placeholder="$tc('swag-migration.wizard.pages.credentials.magento.local.installationRootPlaceholder')"
                                  :helpText="$tc('swag-migration.wizard.pages.credentials.magento.local.installationRootHelp')"
                                  v-model="inputCredentials.installationRoot">
                        </sw-field>
                    {% endblock %}

                    {% block swag_migration_magento_wizard_page_credentials_local_shopurl_field %}
                        <sw-url-field v-if="shopUrlActive === true"
                                  name="sw-url-field--shopUrl"
                                  :label="$tc('swag-migration.wizard.pages.credentials.magento.local.shopUrl')"
                                  :placeholder="$tc('swag-migration.wizard.pages.credentials.magento.local.shopUrlPlaceholder')"
                                  :helpText="$tc('swag-migration.wizard.pages.credentials.magento.local.shopUrlHelp')"
                                  v-model="inputCredentials.shopUrl">
                        </sw-url-field>
                    {% endblock %}

                    {% block swag_migration_magento_wizard_page_credentials_local_tableprefix_field %}
                        <sw-field name="sw-field--tablePrefix"
                                  :label="$tc('swag-migration.wizard.pages.credentials.magento.local.tablePrefix')"
                                  :placeholder="$tc('swag-migration.wizard.pages.credentials.magento.local.tablePrefixPlaceholder')"
                                  v-model="inputCredentials.tablePrefix">
                        </sw-field>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
</div>
